ctx{
	position: fixed;
	background-color: white;
	border: 1px solid gray;
	width: 200px;
	box-sizing: border-box;
}
ctx > item{
	display: block;
	border-bottom: 1px solid gray;
	transition: background-color .2s;
	padding: 3px;
	color: black;
	cursor: default;
}
ctx > item:hover{
	background-color: gray;
}
ctx > item:last-of-type{
	border-bottom: 0;
}
intext{
	position: fixed;
	background-color: #444;
	border: 2px solid white;
	border-radius: 5px;
	display: block;
	left: 50px;
	top: 50px;
	text-align: center;
}
intext > h3{
	color: white;
	padding: 5px;
}
intext > textarea{
	color: white;
	background-color: gray;
	border: 2px solid white;
	z-index: 5;
}

intext > button{
	background-color: gray;
	border: 2px solid white;
	color: white;
	display: inline-block;
	position: relative;
	transition: background-color .3s;
}

intext > button:hover{
	background-color: black;
}